:root{
--red:#ec1d24;
--black:#202020;
--white:#f7f7f7;
}

*{
    padding: 0;
    margin: 0;
}

.comics {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--black);
}

.comic{
    width:200px;
    height: 55vh;
    margin: 15px;
    padding: 5px;
    border: 2px solid var(--red);
    border-radius: 10%;
    background-color:  #f7f7f799;
    transition: background-color,width,height;
}


img{
    border-radius: 20%;
    border: 1px solid var(--white);
}
h3 {
    margin-top: 15px;
    font-family: 'Comic Neue', cursive;
    font-size: 17px;
    color: var(--black);
}

.modal_comic{
    position: fixed; 
    padding: 10px;   
    width: 70%;
    height: 75%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--white);    
    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.5s linear ;
}

.modal_comic_active{
    visibility: visible;
    opacity: 100%;
}

.content_modal_comic{
    position: absolute;
    display: flex;
    overflow: auto;
    padding: 10px;    
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;    
    width: 65%;
    height:90% ;
    background-color: #f7f7f750;
}

.modal_comic {
    border-radius: 10px;
    background-color: #202020;
    border:5px ridge var(--white);
}
.modal_comic h1{
    margin: 15px 0 50px 0;
    color: var(--black);
}

.modal_comic p{
    padding:10px;
    color: var(--white);
}

.modal_comic img{
    width: 300px;
    margin-right: 10px;
    height: 70vh;
}

.modal_comic .x{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 2px;
    color: var(--white);
    background-color: transparent;
}
.modal_comic .x:hover{
    color: var(--red);
}

.modal_comic .agregar_carrito{
    position: absolute;
    right:10px;
    bottom:15px;
    width: 10vw;
}
